@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

/*header*/
header{
    width: 100%;
    height: 70px;
    background: #285b5f;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
}

/*body*/
.menu{
  margin-top: 80px;
  transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
/*separacion de toda la estructura de la barra de selección*/
.main{
  padding: 20px;
}
/*Icono para abrir y cerrar la barra de selección*/
.icon_menu{
  margin-left: 3rem;
    width: 1rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(5px);
    color: rgb(250, 250, 250);
}
.icon_menu i{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}
/*menu de selección*/
.menu_side{
    
    height: 100%;
    position: fixed;
    background: #285b5f;
    top: 0;
    left: 0px;
    font-size: 18px;
    z-index: 300;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
    width: 3rem;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    display: flex;
    justify-content: center;
}
/*logo*/

.options_menu a{
    color: #ffffffb2;
    cursor: default;
    display: flex;
    position: relative;
    transition: color 300ms;
}
.options_menu a:hover{
    color: #f5f5f5;
}
.selected a{
    color: #ffffff;
    cursor: default;
    display: flex;
    position: relative;
    transition: color 400ms;
}

.selected:before{
  content: '';
  width: 2px;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 10%;
  left: auto;
}
.option{
    padding: 3rem 0 ;
    display: block;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.option:nth-of-type(1) {
  margin-top: 6rem;
}
.options_menu .option i{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 5px;
    cursor: pointer;
}
.options_menu .option h4{
  width: 15px;
  font-weight: 450;
  cursor: pointer;
  font-size: calc(0.7rem + 0.3vw);
}

/*Iconos de redes sociales*/
.social-icons{
display: flex;
justify-content: space-between;
margin-right: 2rem;
margin-left: 3rem;
}
.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
}

.social-icons .social-icon:last-child {
  margin-right: 0;
}
.social-icon:hover {
  background-color:#285b5f;
  transition: color 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86)
}

.resumen{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

/*Encabezados*/
h1, h2, h3{
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: #343a40;
}

h1 {
    line-height: 1;
}

h1, .h1 {
  font-size: calc(1.725rem + 5.7vw);
  font-weight: 800;
}

h2, .h2 {
  font-size: calc(1.475rem + 2.7vw);
}

h3, .h3 {
  font-size: calc(1rem + 0.5vw);
}

p.lead {
    font-size: 1.15rem;
    font-weight: 400;
}


.justify{
  text-align: justify;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

/*contenido*/
.subheading {
    text-transform: uppercase;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Clases para usar en JavaScript*/

.body_move{
  margin-left: 250px;
}

.menu__side_move{
  width: 250px;
}
.titulo-experiencia, .titulo-educacion{
  margin-top: 4rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
  text-decoration-line: underline;
}
.descripcion-experiencia{
  margin-left: 1.5rem;
}

.experiencia-trabajo{
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 0;
}
@media screen and (max-width: 760px) {
  .body_move{
    margin-left: 0px;
  }
  .menu__side_move{
    width: 80px;
    left: -80px;
  }
}

@include media-breakpoint-up(md) {
    section.resume-section {
        min-height: 100vh;
    }
}

@include media-breakpoint-up(lg) {
    section.resume-section {
        padding: 5rem 3rem 5rem 3rem;
    }
  }


/* Ocultar scroll para chrome, safari y opera*/
.menu_side::-webkit-scrollbar{
  display: none;
}
/*Ocultar scroll para chrome, safari y opera*/
.menu_side{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.correo {
  color: rgb(53, 23, 71);
  text-decoration: underline;
}
.correo:hover {
  color: rgb(137, 60, 209);
}

/*responsive*/

/*monitor*/
@media screen and (min-width: 1200px){
  

  h2, .h2 {
    font-size: 3.5rem;
  }
  h3, .h3 {
    font-size: 1.5rem;
  }
  h4, .h4 {
    font-size: 0.75rem;
  }
  h5, .h5{
    font-size: 0.75rem;
  }
}

/*tablet*/
@media screen and ( min-width: 768px ) {
  header{
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  
 
  h1, .h1 {
    font-size: 4rem;
    margin-left: 3rem;
  }
  h2, .h2 {
    font-size: 3.5rem;
  }
  h4, .h4 {
    font-size: 0.75rem;
  }
  h5, .h5{
    font-size: 0.75rem;
  }
}


/*fecha en experiencia*/
.text-primary {
  color: #285b5f;
  padding-left: 20px;
}
/*fecha en educación*/
.text-secundary {
  color: rgb(53, 23, 71);
}
/*margen inferior de los bloques de texto*/
.mb-5 {
  display: block;
  margin: 1rem 1rem 2rem 3rem;
  text-align: justify;
}
/*interlineado*/
.mb-3 {
  display: flex;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
  text-align: justify;
}
.mb-0 {
  margin-bottom: 0.25rem;
}

.habilidades, .proyectos{
  text-align: center;
  margin: 4rem 1rem 0rem 2rem;
  text-decoration-line: underline;
}

.telefono{
  padding: 10px 0px;
  white-space: nowrap;
}

/*Iconos de habilidades*/
.dev_icons{
  position: relative;
  top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dev_icons .dev_icon{
  align-items: center;
  position: relative;
  width: 350px;
  height: 150px;
  color: #285b5f;
  padding: 0px 50px 0px 50px;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
};

.dev_icons .dev_icon i{
  Position: absolute;
  width: 55px;
  height: 55px;
  z-index: 2;
  
}

.dev_icons .dev_icon h5{
  font-weight: 450;
  font-size: calc(0.7rem + 0.3vw);
  white-space: nowrap;
  padding: 0px 10px 0px 10px;
  align-items: center;
}

.container-box{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.project-box{
  width: 250px;
  height: 250px;
  margin: 10px;
  padding: 20px;
  border: 2px solid #eeeeee;
  border-radius: 14px;
  text-align: center;
  margin-top: 100px;
  position: relative;
  justify-content: center;
}

.project-box img{
  max-height: 5rem;
  transition: all 400ms;
}

.project-box h6{
  font-size: 16px;
  margin-top: 10px;
  transition: all 400ms;
  }

.project-box .container-p{
  width: 100%;
  height: 150px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  border-radius: 0px 0px 14px 14px;
  padding: 0px 10px;
  z-index: 20;
}

.project-box p{
  font-size: 14px;
  color: #7a7a7a;
  opacity: 0;
  transform: translateY(150px);
  transition: all 400ms;
}

/*Efecto Hoover */

.project-box:hover{
  background:rgb(251, 248, 254);
}

.project-box:hover img{
  transform: translateY(-90px);
}

.project-box:hover h6{
  transform: translateY(-70px);
}

.project-box:hover .container-p p{
  transform: translateY(0px);
  opacity: 1;
}

/* clases para usar en JS*/

.box-selected {
  transition: all 400ms
}

/*botom*/
.botom{
  background-color: #285b5f;
  padding: 5px 25px 5px 25px;
  text-align: center;
  color: #f5f5f5;
  display: block;
  margin-top: 3rem;
  z-index: 100;
  position:absolute;
  cursor: pointer;
  margin-left: 55px;
  border-radius: 10px;
  transition: all 400ms;
}
.botom a{
  color: #ffffff;
}
.botom:hover{
  transform: translateY(5px);
  box-shadow: -2px 5px 5px 1px rgba(0,0,0,0.2);
  transition: all 400ms;
}

.footer{
  
  width: 100%;
  background-color: #285b5f;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  }

.box-footer{
  height: 6rem;
  display: flex;
  align-items: center; 
  justify-content: center;
  position: relative; 
}

.logo-footer{
  height: 25px;
  width: 25px;
  vertical-align: center; 
}

.copytext{
  font-size: 0.75rem;
  white-space: nowrap;
  color: white;
  padding-left: 10px;
  }
.copytext:nth-child(1){
  margin-left: 2rem;
  }

  .s-icon-foot{
    height: 50px;
    width: 30%;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
    height: 2rem;
    width: 2rem;
    background-color: #ffffff;
    color: rgb(53, 23, 71);
    border-radius: 100%;
    margin-right: 5rem;
    margin-left: 5rem;
  }

  .s-icon-foot:hover{
    background-color: rgb(160, 137, 181);
    color: white;
  }

  @media screen and ( max-width: 768px ) {
    .s-icon-foot{
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
 /*Telefono*/
@media screen and (max-width: 450px) {
  .correo{
    font-size: 1.2rem;
  }
  .box-footer{
    height: 3rem;
  }
  .copytext:nth-child(1){
    margin-left: 0;
  }
  .footer{
    flex-direction: column;
    align-content: center;
  }

  h1, .h1 {
    font-size: 4rem;
  }
  h2, .h2 {
    font-size: 2.5rem;
  }
  h3, .h3 {
    font-size: 1.5rem;
  }
  h4, .h4 {
    font-size: 0.75rem;
  }
  h5, .h5{
    font-size: 0.75rem;
  }
}